<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home"      });
    });
  </script>
<% end %>

Your Segement Write Key (Can Be Found at Dashboard > Sources > Settings > Keys > Write Key) <input type="text" id="writeKey">
</br>
<h2>Which Pages Would you Like to Add Segment Tracking To?</h2>

<form>
    <input type="checkbox" id="blogPosts">Blog Posts
    <input type="checkbox" id="productPages">Product Pages
    <input type="checkbox" id="collectionPages">Collection Pages
</form>