<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.jpg') %>"
      });
    });
  </script>
<% end %>

<h2>Articles</h2>

<form>
    <% @articles.each do |article| %>
    <input type="checkbox" name="@article.title"><%= link_to article.title, "https://#{@shop_session.url}/admin/blogs/#{article.blog_id}/articles/#{article.id}", target: "_top" %></li>
  <% end %>
</form>