<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home"      });
    });
  </script>
<% end %>


<h2>List of Your Biggest Orders</h2>

<% @orders.sort_by(&:subtotal_price).each do |order| %>
    <li><%= link_to order.name, "https://#{@shop_session.url}/admin/orders/#{order.id}", target: "_top" %> - $<%= order.subtotal_price %> </li>
<% end %>